/*
* @Author: nagy.wang
* @Date:   2018-07-01 14:58:13
* @Last Modified by:   nagy.wang
* @Last Modified time: 2018-08-06 17:52:41
*/

$unit:1rem/18.75;
$img:100%;
@mixin transform($w){
  transform: translateX($w) translateY($w);
}

@mixin mask{
  /* mask */
  background-color:rgba(0,100,100,1);
  width: 100%;
  height: 100%;
  left:0;
  top:0;/*FF IE7*/
  z-index:1;
  position:fixed!important;/*FF IE7*/
  position:absolute;/*IE6*/
}

/* 浮动清除 */

@mixin img($w) {
  width: $w;
}

/*
  全局框架
*/

@mixin layout($appheadHeight,$appFooterHeight){
  .appContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    & > .appHeader {
      height: $appheadHeight * $unit;
      line-height: $appheadHeight * $unit;
      background: red;
    }
    & > .appContent {
      flex: 1;
      width: 100%;
      overflow: scroll;
      background: rgba(0,0,0,.05);
    }
    & > .appFooter {
      width: 100%;
      height: $appFooterHeight * $unit;
      line-height: $appFooterHeight * $unit;
      background: green;
      background: #fff;
    }
  }
}

/* #app > {
   @include layout(43,50)
} */


/*
  高跟宽计算
*/

@mixin WH($w: null, $h: null) {
  /* 长方形 WH(20,5)  */
  @if $w and $h {
    width: $w * $unit;
    height: $h * $unit;
  }
  /* 正方形  WH(10) */
  @else if not $h{
    width: $w * $unit;
    height: $w * $unit;
  }
}


/*
  行高居中
*/

@mixin LineH($w) {
  height: $w * $unit;
  line-height: $w * $unit;
}

/*
  默认显示 N 行  过长……省略
 */

@mixin Highline($w){
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp:$w;  /*2行*/
  overflow: hidden;
}



/*
  居中 (1、固定宽、高，2.自适应宽、高)
*/

@mixin center($width: null, $height: null) {
  & > .cont{
    position: absolute;
    top: 50%;
    left: 50%;
    /* 存在 width height */
      @if $width and $height {
        width: $width * $unit;
        height: $height * $unit;
        background: #fff;
        /*FF IE7*/
        position: fixed !important;
        /*FF IE7 该值为本身宽的一半 */
        margin-left: -($width / 2 * $unit) !important;
        /*FF IE7 该值为本身高的一半*/
        margin-top: -($height / 2 * $unit) !important;
        margin-top: 0;
        z-index:2;
      }
      /* 没有高度 height */
      @else if not $height {
        width: $width * $unit;
        background: #fff;
        @include transform(-50%);
        z-index:2;
      }
    }
  & > .mask {
    @include mask
  }

}


/*
  图片占位处理
*/

 @mixin imgP($w:null,$h:null) {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: ($h / $w) * 100%;
  overflow: hidden;
  background:rgba(0,100,100,1) url("//yimg.yi23.net/webimg/web/images/20180622/ic_navibar_backarrowBlack.png") 50% 50% no-repeat;
  img {
    width:100%;
    position: absolute;
    display:block;
    margin: 0;
    padding: 0;
  }
}


/*
  PingFang SC font-weight
*/
@mixin font(){
  @each $name, $weight in (u,100)     /* 极细体 */
                          (t,200)     /* 纤细体 */
                          (l,300)     /* 细体   */
                          (r,400)     /* 常规体 */
                          (m,500)     /* 中黑体 */
                          (s,600)     /* 中粗体 */
                          (b,700)     /* 粗体   */
  {
    .font-#{$name}{
       font-weight: $weight;
    }
  }
}
/*  */
@mixin font($font-weight){
  @if $font-weight == 'u'{
    font-weight: 100;
  }
  @else if $font-weight == 't'{
    font-weight: 200;
  }
  @else if $font-weight == 'l'{
    font-weight: 300;
  }
  @else if $font-weight == 'r'{
    font-weight: 400;
  }
  @else if $font-weight == 'm'{
    font-weight: 500;
  }
  @else if $font-weight == 's'{
    font-weight: 600;
  }
  @else if $font-weight == 'b'{
    font-weight: 700;
  }
}


/*
  1像素线
*/
@mixin line($line){
    position: relative;
    @if $line == borderTop{
        /* border-top */
        &:after{
            content: " ";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            height: 1px;
            border-top: 1px solid rgba(200, 200, 0, 1);
            color: rgba(0, 0, 0, 0.1);
            transform-origin: 0 0;
            transform: scaleY(0.5);
        }
    }
    @else if $line == borderRight{
        /* border-right */
        &:after{
            content: " ";
            position: absolute;
            right: 0;
            top: 0;
            width: 1px;
            bottom: 0;
            border-right: 1px solid rgba(0, 200, 200, 1);
            color: rgba(0, 0, 0, 0.1);
            transform-origin: 100% 0;
            transform: scaleX(0.5);
        }
    }
    @else if $line == borderBottom{
        /* border-bottom */
        &:after{
            content: " ";
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            height: 1px;
            border-bottom: 1px solid rgba(200,0,200,1);
            color: rgba(0, 0, 0, 0.1);
            transform-origin: 0 100%;
            transform: scaleY(0.5);
        }
    }
    @else if $line == borderLeft{
        /* border-left */
        &:after{
            content: " ";
            position: absolute;
            left: 0;
            top: 0;
            width: 1px;
            bottom: 0;
            border-left: 1px solid rgba(200, 100, 100, 1);
            color: rgba(0, 0, 0, 0.1);
            transform-origin: 0 0;
            transform: scaleX(0.5);
        }
    }

    @else if $line == noLine{
        /* border: none; */
        &:after{
            width: 0;
            height: 0;
            border: 0;
            transform: scale(0);
            transform-origin: 0 0;
        }
    }

    @else if $line == border{
        /* border */
        &:after{
            content: " ";
            width: 200%;
            height: 200%;
            position: absolute;
            top: 0;
            left: 0;
            border: 1px solid rgba(200,200, 200, 1);
            transform: scale(0.5);
            transform-origin: 0 0;
            box-sizing: border-box;
            border-radius: 1;
        }
    }
}
